<h3>Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

<h4>Install the required packages

In [34]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
pip install html5lib

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

<h3>Beautiful Soup package as Web Data Scraper

In [24]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import bs4 as bs
import urllib.request

<h4>The data that will be used to create the data frame will be from Wikipedia

In [38]:
# URL
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'


source = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').read()
soup = bs.BeautifulSoup(source,'html.parser')

table = soup.find('table')
table_rows = table.find_all('tr')

l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        l.append(row)

In [39]:
#Data fram contains 3 columns- Postal Code, Borough, Neigbourhood

In [43]:
df = pd.DataFrame(l, columns=["PostalCode", "Borough", "Neighbourhood"])
df.head(5)

  PostalCode           Borough               Neighbourhood
0        M1A      Not assigned                        None
1        M2A      Not assigned                        None
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [44]:
df.dtypes

PostalCode       object
Borough          object
Neighbourhood    object
dtype: object

In [63]:
df['Borough']=="Not assigned"

0       True
1       True
2      False
3      False
4      False
       ...
175     True
176     True
177     True
178    False
179     True
Name: Borough, Length: 180, dtype: bool

<h4> There are data which are not assigned. Hence, we need to disregard these data

In [65]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[df.Borough != 'Not assigned']
df.head()

  PostalCode           Borough                                 Neighbourhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [66]:
# More than one neighborhood can exist in one postal code area.
df = df.groupby(['PostalCode', 'Borough']).agg(', '.join)
df = df.reset_index()
df.head(10)

  PostalCode      Borough                                      Neighbourhood
0        M1B  Scarborough                                    Malvern / Rouge
1        M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough                Guildwood / Morningside / West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
5        M1J  Scarborough                                Scarborough Village
6        M1K  Scarborough      Kennedy Park / Ionview / East Birchmount Park
7        M1L  Scarborough                  Golden Mile / Clairlea / Oakridge
8        M1M  Scarborough  Cliffside / Cliffcrest / Scarborough Village West
9        M1N  Scarborough                       Birch Cliff / Cliffside West

In [67]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df.loc[df['Neighbourhood']=='Not assigned', ['Neighbourhood']] = 'Queen\'s Park'
df.head(10)

  PostalCode      Borough                                      Neighbourhood
0        M1B  Scarborough                                    Malvern / Rouge
1        M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough                Guildwood / Morningside / West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
5        M1J  Scarborough                                Scarborough Village
6        M1K  Scarborough      Kennedy Park / Ionview / East Birchmount Park
7        M1L  Scarborough                  Golden Mile / Clairlea / Oakridge
8        M1M  Scarborough  Cliffside / Cliffcrest / Scarborough Village West
9        M1N  Scarborough                       Birch Cliff / Cliffside West

In [68]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df.shape

(103, 3)

In [70]:
df.to_csv("my_data.csv",index=False)

In [ ]:
#Save the data to csv for the second part